@model IEnumerable<TestBestHack.Models.Source>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">News List</h2>
@Html.Partial("~/Views/Home/Select.cshtml",new TestBestHack.Models.Source())
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.url)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.url)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
    </tr>
}

</table>

<ul class="list-group">
@foreach (var item in Model) {
    <li class="list-group-item justify-content-between">
    @Html.DisplayFor(modelItem => item.name)
    <span class="badge badge-default badge-pill">@Html.DisplayFor(modelItem => item.country)</span>
  </li>
}
</ul>
