@model IEnumerable<TestBestHack.Models.Source>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
$(()=>{
$('th:odd').css('background-color','green');
$('#changecolor').click(()=>{
$('th:even').css('background-color','green');
$('th:odd').css('background-color','white');
});
});
</script>
<h2 style="text-align:center">News List</h2>
@Html.Partial("~/Views/Home/Select.cshtml",new TestBestHack.Models.Source())
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.url)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.url)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
    </tr>
}

</table>
<button id="changecolors">Changecolor</button>
